:root{
    --bg-url: url(assets/bg-desktop.jpg) url(App.css);
    --text-color: #000;
    --stroke-color: rgba(0,0,0,0.5);
    --surface-color: rgba(0,0,0,0.1);
    --surface-color-hover: rgba(0,0,0,0.4);
    --switch-bg-url: url(assets/Sun.svg);
    --highlight-color: rgba(0,0,0,0.2);
}

