#Perfil {
    text-align: center;
    padding: 24px;

    & img{
        border-radius: 50%;
        border-width: 4px;
        border-style: solid;
        border-color: blueviolet;
        width: 112px;
        height: 112px;

    }

    & p {
        font-weight: 400;
        line-height: 24px;
        margin-top: 8px;
    }
}