footer{
    text-align: center;
    font-size: 14px;
    padding-top: 24px;
    color: (--text-primary);

    & a {
        color: var(--accent-color);
        text-decoration: dotted;
        font-weight: bold;
    }
}